.FavoritesIndicator {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.4em;
  cursor: pointer;
  color: gold;
  transition: all 0.3s;
}
.FavoritesIndicator:hover {
  box-shadow: 0 0 5px black;
}

.FavoritesIndicator .num-of-favs {
  height: 18px;
  width: 18px;
  background-color: rgba(255, 0, 0, 0.63);
  color: white;
  font-size: 0.6em;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 11%;
  z-index: 3;
}
